* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

main#game {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 100%;
}

.area {
  width: 100%;
  height: 100%;
  background-image: url("src/assets/fundo.jpeg");
  background-size: 100%;
  padding: 2px;
}

.row {
  width: 100%;
  border: 1px solid #CECECE;
}

.block {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  border: 1px dotted green;
  transition: background-color .2s;
}

.block.block-active {
  background-color: rgba(120, 120, 120, .5);
}

.jsImage {
  width: 70px;
  height: 70px;
  overflow: visible;
  position: absolute;
  margin: 0 auto;
}